# Customer Retention with Data-Driven Insights

In [2]:
#importing required libraries
import pandas as pd
import numpy as np

In [3]:
#reading the data file
df=pd.read_excel('Downloads/coffee-house-satisfactory-survey.xlsx',sheet_name="Sheet1")
df.head()

,Date,Gender,Age,Job_Status,annual_income,visit,mode,duration,Distance,membership_card,...,average_spend,Quality,price_range,promotions,ambiance,WiFi_quality,service,M&H,Source,Visit_again
0,2019/10/01 12:38:43 PM GMT+8,Female,From 20 to 29,Student,"Less than RM25,000",Rarely,Dine in,Between 30 minutes to 1 hour,within 1km,Yes,...,Less than RM20,4,3,5,5,4,4,3,Starbucks Website/Apps;Social Media;Emails;Dea...,Yes
1,2019/10/01 12:38:54 PM GMT+8,Female,From 20 to 29,Student,"Less than RM25,000",Rarely,Take away,Below 30 minutes,1km - 3km,Yes,...,Less than RM20,4,3,4,4,4,5,2,Social Media;In Store displays,Yes
2,2019/10/01 12:38:56 PM GMT+8,Male,From 20 to 29,Employed,"Less than RM25,000",Monthly,Dine in,Between 30 minutes to 1 hour,more than 3km,Yes,...,Less than RM20,4,3,4,4,4,4,3,In Store displays;Billboards,Yes
3,2019/10/01 12:39:08 PM GMT+8,Female,From 20 to 29,Student,"Less than RM25,000",Rarely,Take away,Below 30 minutes,more than 3km,No,...,Less than RM20,2,1,4,3,3,3,3,Through friends and word of mouth,No
4,2019/10/01 12:39:20 PM GMT+8,Male,From 20 to 29,Student,"Less than RM25,000",Monthly,Take away,Between 30 minutes to 1 hour,1km - 3km,No,...,Around RM20 - RM40,3,3,4,2,2,3,3,Starbucks Website/Apps;Social Media,Yes

In [4]:
#Descriptive Analysis
df.describe()

,Quality,price_range,promotions,ambiance,WiFi_quality,service,M&H
count,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000,122.000000
mean,3.663934,2.893443,3.795082,3.754098,3.254098,3.745902,3.516393
std,0.941343,1.081836,1.090443,0.929867,0.958317,0.828834,1.030394
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000,4.000000
75%,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [5]:
#Column Profiles
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             122 non-null    object
 1   Gender           122 non-null    object
 2   Age              122 non-null    object
 3   Job_Status       122 non-null    object
 4   annual_income    122 non-null    object
 5   visit            122 non-null    object
 6   mode             121 non-null    object
 7   duration         122 non-null    object
 8   Distance         122 non-null    object
 9   membership_card  122 non-null    object
 10  goto_order       122 non-null    object
 11  average_spend    122 non-null    object
 12  Quality          122 non-null    int64
 13  price_range      122 non-null    int64
 14  promotions       122 non-null    int64
 15  ambiance         122 non-null    int64
 16  WiFi_quality     122 non-null    int64
 17  service          122 non-null    int64
 18  M&H              122 non-null    int64
 19  Source           121 non-null    object
 20  Visit_again      122 non-null    object
dtypes: int64(7), object(14)
memory usage: 20.1+ KB

In [6]:
#Column Contents
col=df.columns
d={}
for i in range(1,21):
    d[col[i]] = df[col[i]].unique()
d

{'Gender': array(['Female', 'Male'], dtype=object),
 'Age': array(['From 20 to 29', 'From 30 to 39', '40 and above', 'Below 20'],
       dtype=object),
 'Job_Status': array(['Student', 'Employed', 'Self-employed', 'Housewife'], dtype=object),
 'annual_income': array(['Less than RM25,000', 'RM50,000 - RM100,000',
        'RM25,000 - RM50,000', 'RM100,000 - RM150,000',
        'More than RM150,000'], dtype=object),
 'visit': array(['Rarely', 'Monthly', 'Weekly', 'Never', 'Daily'], dtype=object),
 'mode': array(['Dine in', 'Take away', 'Drive-thru', 'never', 'Never buy', nan,
        'I dont like coffee', 'Never'], dtype=object),
 'duration': array(['Between 30 minutes to 1 hour', 'Below 30 minutes',
        'More than 3 hours', 'Between 1 hour to 2 hours',
        'Between 2 hours to 3 hours'], dtype=object),
 'Distance': array(['within 1km', '1km - 3km', 'more than 3km'], dtype=object),
 'membership_card': array(['Yes', 'No'], dtype=object),
 'goto_order': array(['Coffee', 'Cold drinks;Pastries', 'Coffee;Sandwiches',
        'Cold drinks', 'Coffee;Cold drinks',
        'Cold drinks;Pastries;Sandwiches',
        'Coffee;Juices;Pastries;Sandwiches', 'Coffee;Pastries;Sandwiches',
        'Coffee;Pastries', 'Cold drinks;Juices;Pastries',
        'Coffee;Cold drinks;Pastries;Sandwiches', 'Never', 'Never buy any',
        'Jaws chip', 'cake', 'Pastries', 'Cold drinks;Never', 'never',
        'Nothing', 'Coffee;Cold drinks;Juices;Pastries;Sandwiches'],
       dtype=object),
 'average_spend': array(['Less than RM20', 'Around RM20 - RM40', 'More than RM40', 'Zero'],
       dtype=object),
 'Quality': array([4, 2, 3, 5, 1], dtype=int64),
 'price_range': array([3, 1, 5, 2, 4], dtype=int64),
 'promotions': array([5, 4, 3, 2, 1], dtype=int64),
 'ambiance': array([5, 4, 3, 2, 1], dtype=int64),
 'WiFi_quality': array([4, 3, 2, 5, 1], dtype=int64),
 'service': array([4, 5, 3, 2, 1], dtype=int64),
 'M&H': array([3, 2, 4, 5, 1], dtype=int64),
 'Source': array(['Starbucks Website/Apps;Social Media;Emails;Deal sites (fave, iprice, etc...)',
        'Social Media;In Store displays', 'In Store displays;Billboards',
        'Through friends and word of mouth',
        'Starbucks Website/Apps;Social Media', 'Social Media',
        'Starbucks Website/Apps;Social Media;Emails;Through friends and word of mouth',
        'Starbucks Website/Apps;Social Media;Through friends and word of mouth',
        'Social Media;Through friends and word of mouth',
        'Social Media;Through friends and word of mouth;In Store displays',
        'Starbucks Website/Apps', 'Emails', 'Social Media;Emails',
        'Through friends and word of mouth;In Store displays',
        'Social Media;In Store displays;Billboards', 'Application offer',
        'Starbucks Website/Apps;Social Media;Through friends and word of mouth;In Store displays',
        'In Store displays',
        'Social Media;Through friends and word of mouth;Billboards',
        'Starbucks Website/Apps;Social Media;Emails;Billboards',
        'Social Media;Emails;Deal sites (fave, iprice, etc...);Through friends and word of mouth;In Store displays;Billboards',
        'Starbucks Website/Apps;Social Media;Deal sites (fave, iprice, etc...);Through friends and word of mouth',
        'Never hear',
        'Social Media;Through friends and word of mouth;In Store displays;Billboards',
        'Starbucks Website/Apps;Deal sites (fave, iprice, etc...)',
        'Social Media;Deal sites (fave, iprice, etc...);Through friends and word of mouth',
        'Social Media;Emails;Through friends and word of mouth',
        'Social Media;Deal sites (fave, iprice, etc...)', nan,
        'Starbucks Website/Apps;Emails', 'Billboards',
        'Starbucks Website/Apps;Social Media;Emails;Deal sites (fave, iprice, etc...);Through friends and word of mouth;In Store displays;Billboards'],
       dtype=object),
 'Visit_again': array(['Yes', 'No'], dtype=object)}



There are certain unnecessary values in multiple columns:

    Columns                Values
    goto_order             Never, never buy any,etc
    average_spend          Zero
    mode                   never, Never Buy, etc.

In [7]:
#Cleaning
df.drop(df[(df['goto_order'] == "never") | (df['goto_order'] == "Never") | (df['goto_order'] == "Never buy any") | ( df["goto_order"] == "Nothing")].index,inplace=True)
df.drop(df[(df['mode'] == "never") | (df['mode'] == "Never") | (df['mode'] == "Never buy") | ( df["mode"] == "I dont like coffee")].index,inplace=True)
df.drop(df[df['average_spend']=="Zero"].index,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109 entries, 0 to 121
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             109 non-null    object
 1   Gender           109 non-null    object
 2   Age              109 non-null    object
 3   Job_Status       109 non-null    object
 4   annual_income    109 non-null    object
 5   visit            109 non-null    object
 6   mode             109 non-null    object
 7   duration         109 non-null    object
 8   Distance         109 non-null    object
 9   membership_card  109 non-null    object
 10  goto_order       109 non-null    object
 11  average_spend    109 non-null    object
 12  Quality          109 non-null    int64
 13  price_range      109 non-null    int64
 14  promotions       109 non-null    int64
 15  ambiance         109 non-null    int64
 16  WiFi_quality     109 non-null    int64
 17  service          109 non-null    int64
 18  M&H              109 non-null    int64
 19  Source           109 non-null    object
 20  Visit_again      109 non-null    object
dtypes: int64(7), object(14)
memory usage: 18.7+ KB

In [8]:
df1=df.copy()

Copy for rollback.

## Insights

In [9]:
#likelihood of visiting again by Job Status and Average spend
df1.groupby(['Job_Status','average_spend'])['Visit_again'].value_counts()

Job_Status     average_spend       Visit_again
Employed       Around RM20 - RM40  Yes            25
                                   No              3
               Less than RM20      Yes            21
                                   No              5
               More than RM40      Yes             2
Housewife      Around RM20 - RM40  Yes             1
               More than RM40      Yes             1
Self-employed  Around RM20 - RM40  Yes             6
               Less than RM20      Yes             5
                                   No              1
               More than RM40      Yes             2
Student        Around RM20 - RM40  Yes             9
               Less than RM20      Yes            15
                                   No             11
               More than RM40      Yes             2
Name: Visit_again, dtype: int64

Students who spend less than RM20 are most likely to not visit again. Therefore, we need to introduce items focusing students. Price for the item should be in the lower range(Less than RM20).

In [10]:
#most ordered itmes.
df1.goto_order.str.split(";",expand=True).stack().value_counts()

Coffee         79
Cold drinks    35
Pastries       15
Sandwiches      8
Juices          4
Jaws chip       1
cake            1
dtype: int64

Other than coffee, customers usually order Cold drinks and pastries. Therefore, new items can belong to these categories.

In [12]:
df1.groupby("service")['Visit_again'].value_counts()

service  Visit_again
2        No              2
         Yes             2
3        Yes            29
         No              6
4        Yes            37
         No             11
5        Yes            21
         No              1
Name: Visit_again, dtype: int64

Customers who rated the quality of service high are more likely to return.

In [13]:
df1.groupby("membership_card")['Visit_again'].value_counts()

membership_card  Visit_again
No               Yes            35
                 No             15
Yes              Yes            54
                 No              5
Name: Visit_again, dtype: int64

The likelihood of people not returning is higher with customers without a membership card.

## Correlation

In [ ]:
#Correlation dataframe
corr_df= df[['Quality', 'price_range', 'promotions', 'ambiance', 'WiFi_quality','M&H','Visit_again']]
corr_df['Visit_again'] = np.where(corr_df['Visit_again'] == "Yes",1,0)
corr_df.head()

In [ ]:
#Correlation Matrix
corr_matrix = corr_df.corr()
corr_matrix

In [ ]:
#Heatmap
import matplotlib.pyplot as plt
import seaborn as sns
plt.figure(figsize = (12,9))
plot = sns.heatmap(corr_matrix,annot = True)
plot.set_title("Correlation Heatmap")

According to the heatmap, it can be inferred that promotions and Wifi quality have the least impact on the probability of customers revisiting the coffee house. Additionally, the likelihood of customers selecting the coffee house for business meetings and hangouts is also least influenced by these factors.

To improve customer retention, the coffee house should focus on enhancing its promotions and Wifi quality.

# Analysis Report

In conclusion, our analysis of the customer data for Coffee House has revealed several key insights that can help to improve customer retention and increase revenue. Our findings suggest that factors such as bad Wi-Fi quality and lack of promotions are the key factors towards decline in th retentionn rate. Also, our analysis showed that a lack of variety can be observed in the menu, especially towards lower price range products. Customers who rated the quality of service 'high' are more likely to return. Additionally, customers with no membership card are more likely to not return.

Based on these insights, we recommend that Coffee House can take following actions:
1. Work on the promotions and improve the Wi-Fi quality.
2. Introduce new items in the menu focusing students in the lower price range.
3. Increase the circulation of membership card as the probablity of a customer not returning is higher for a customer without a membership card.

It is important to note that our analysis was limited by the sample size and potential biases in the data. Future research could focus on expanding the sample size and collecting more diverse data to improve the accuracy of the findings.